trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
  - stage: buildArtifacts
    displayName: Build Artifacts
    jobs:
      - job: buildApp
        displayName: Build Application
        steps:
          - task: DotNetCoreCLI@2
            inputs:
              command: 'publish'
              publishWebProjects: false
              projects: '**/WeatherForecast.csproj'
              arguments: '--self-contained true --runtime alpine-x64 -c Release'
              modifyOutputPath: false
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'drop'
              publishLocation: 'Container'
          