trigger:
- main

pool:
  # name: Default
  vmImage: ubuntu-latest

variables:
  - name: applicationDirectory
    value: $(Build.SourcesDirectory)/application
  - name: infrastructureDirectory
    value: $(Build.SourcesDirectory)/infrastructure

stages:
  - stage: build
    displayName: Build
    jobs:
      - job: app
        displayName: Build Application
        steps:
          - task: DotNetCoreCLI@2
            inputs:
              command: 'publish'
              publishWebProjects: false
              projects: '**/WeatherForecast.csproj'
              arguments: '--self-contained true --runtime alpine-x64 -c Release -o $(applicationDirectory)/WeatherForecast/publish'
              modifyOutputPath: false
          - task: Docker@2
            inputs:
              containerRegistry: 'dockerhub'
              repository: 'ist5680'
              command: 'buildAndPush'
              Dockerfile: '$(applicationDirectory)/WeatherForecast/dockerfile'
              buildContext: '$(applicationDirectory)/WeatherForecast/'
              tags: |
                $(Build.BuildId)
                latest
              addPipelineData: false
              addBaseImageData: false
          